# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
number_float = 2.3
print(number_float)
print(number_float)
number_float = 7.2
print(number_float)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [4]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [5]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [6]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [7]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [8]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [9]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [10]:
name = 'Frankie'
print(name)

Frankie

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print('This is my first name: ', name)

print('This is my first name: ', name, end=' Garafalo')

This is my first name:  Frankie
This is my first name:  Frankie Garafalo

##### String Concatenation

In [12]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

full_name += ', Jr'
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [13]:
number = '32'

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [14]:
name = input("What is your name? ")
print("Nice to meet you, ", name)

age = int(input('What is your age?: '))
add_age = age + 5
print(add_age)

What is your name? Frankie
Nice to meet you,  Frankie
What is your age?: 25
30

##### format()

In [15]:
age = int(input("What is your age? "))

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 25
You are 25 Frankie and you are getting wiser!
25 is a great time in life!

##### Old Way (python 2)

In [16]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 25 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [17]:
year = input("What year was your car made? ")
make = input("What is the make of your car?")
model = input("What is the model?")
color = input("What color is it?")

print(f"You have a {color} {year} {make.title()} {model.title()}.")

What year was your car made? 2023
What is the make of your car?Chevy
What is the model?Monte Carlo
What color is it?Red
You have a Red 2023 Chevy Monte Carlo.

### If Statements

In [18]:
num1 = 5
num2 = 10
num3 = 0
    
if num2 >= num1 or num3 > 0:
    print("This ran")
else:
    print('Equal values')

This ran

##### 'is' keyword

In [19]:
num3 = 55

if num3 == 55:
    print('This is the exact number/object')

This is the exact number/object

##### 'in' keyword

In [20]:
char_name = "Frodo Baggins"

if 'Frodo' in char_name:
    print('The ring bearer')

The ring bearer

##### 'not in' keyword'

In [21]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [22]:
name = input('What is your name? ')

if 'p' in name.lower():
    print('The letter "P" is in your name!')
else:
    print('There is no letter "P" in your name.')

What is your name? Frankie
There is no letter "P" in your name.

## Using 'and'/'or' with If Statements

In [23]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
if num_13 > num_14 or num_11 == num_12:
    print('False and True')

True and True
False and True

### Elif Statements

In [24]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is smith.')
elif first_name == 'Kyle':
    print('The name is Kyle')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Frankie
The name is NOT Max

### Else Statements

In [25]:
# see above

### For Loops

In [26]:
name = "Frankie Garafalo"
a_list = [1,2,3,4]


for i in name:
    print(i)

F
r
a
n
k
i
e

G
a
r
a
f
a
l
o

##### Using 'in' keyword

In [27]:
# see above

##### Continue Statement

In [28]:
# will continue to next iteration

In [29]:
name = "Frankie Garafalo"

for i in name:
    if i == "a":
        continue
    print(i)

F
r
n
k
i
e

G
r
f
l
o

##### Break Statement

In [30]:
# will break out of current loop

In [31]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [32]:
# mostly used as a placeholder, and will continue on same iteration

In [33]:
name = "Frankie Garafalo"

for i in name:
    pass

##### Double For Loops

In [34]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [35]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

In [36]:
##### Looping 'While True'

In [37]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == "Yes":
        game_over = False

Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? Yes

In [38]:
##### While & For Loops Used Together

In [39]:
num = 0 

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i + 1))
        
    num += 1

While loop iteration: 0
For loop iteration: 1
For loop iteration: 2

While loop iteration: 1
For loop iteration: 1
For loop iteration: 2

While loop iteration: 2
For loop iteration: 1
For loop iteration: 2

While loop iteration: 3
For loop iteration: 1
For loop iteration: 2

While loop iteration: 4
For loop iteration: 1
For loop iteration: 2

In [40]:
### Built-In Functions

##### range()

In [43]:
for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [44]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: Bible
5

##### help()

In [45]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [47]:
num = 4.5
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.5 is a float

##### abs()

In [48]:
print(abs(-5))

5

### Try and Except

In [49]:
try:
    input_num = int(input('Guess a number'))
    print('Your number is '+ str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number1
Your number is 1

### Lists

##### Declaring Lists

In [50]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [51]:
print(names[0])

print(names[1:])

print(names[:2])

print(names[::2])

print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Max', 'Kathy', 'Nate']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [52]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [53]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [54]:
my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [55]:
while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Devon', 'Bob', 'Nate']

##### del()

In [56]:
del(names[1])
print(names)

['Max', 'Devon', 'Bob', 'Nate']

##### Concatenating Two Lists

In [57]:
list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [58]:
names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Jim', 'Tameka']]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Jim', 'Tameka']]
Sue

##### Looping Through Lists

In [59]:
for i in range(len(names)):
    print(names[i])
    
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Jim', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Jim', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [60]:
num = 0

while num < 1000000:
    cubed_num = num * num * num
    print(cubed_num)
    num += 1
    if cubed_num == 1000:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [62]:
num = 0

for i in range(100):
    num += 1
    if num == 2:
        print(num)
    elif num < 2:
        continue
    elif num % 2 == 0:
        continue
    else:
        print(num)

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [65]:
user_age = input("What is your age?")
if int(user_age) <= 17:
    print('kids')
elif int(user_age) <= 65:
    print('adults')
else:
    print('seniors')

What is your age?18
adults